@model ImageUploadViewModel
@{
    ViewData["Title"] = "Upload";
}

<h2>Upload Image</h2>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success">@ViewBag.Message</div>
}
<form asp-action="Upload" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label asp-for="ImageFile"></label>
        <input asp-for="ImageFile" type="file" class="form-control-file" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
</form>
@section  Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}